.imgContent{
	width:300px;
	height: 400px;
	position: relative;
	border-radius: 10%;
}
.profile-img, .load{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: contain;
}
.upload-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 60px;
	cursor: pointer;
}
.loading {
	position: absolute;
	font-size: 100px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%)
}

.profile-card > .ant-card-meta-title{
	bottom: -25px
}

.ant-list-split .ant-list-item {
	border-bottom: 1px solid #2e94fe !important;
}
.bold-item  {
	color:red
}
.hidden {
	display: none;
}
.profile-card > .ant-card-actions{
	position: absolute;
    bottom: 0;
    width: 100%;
}
.card-img {
	height: 250px;
	object-fit: cover;
}